# ===== 공통 =====
# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
# 환경 변수 & 민감 정보
.env
*.secret
*.key
*.pem

# 로그
*.log

# ===== Java (Spring Boot) =====
/target/

# ===== Node.js (React / Vite) =====
node_modules/
dist/

# ===== Python (AI / Data) =====
__pycache__/
.ipynb_checkpoints/
*.pyc
/venv/
/env
/.vs
/.venv/
/venv310/
SISC_개인메모.md
wandb
AI/data/weights/

AI/.venv/
AI/data/weights/tcn/
AI/data/kaggle_data/

AI/data/weights/itransformer/*
!AI/data/weights/itransformer/.gitkeep

AI/config/trading.local.json
AI/tests/out/
AI/docs/

SISC_*.md
test_*.py
AI/data/kaggle_data/
*.parquet
*.pt
*.keras
*.pkl
# ===== Kaggle API 키 =====
kaggle.json
.kaggle/
# ===== Backend =====
backend/src/main/java/org/sejongisc/backend/stock/TestController.java

# ===== windows =====
.desktop.ini
