/* 로그인 & 회원가입 페이지에서 공통적으로 사용하는 CSS 디자인 */

/* ------------------------ 로그인 페이지 ------------------------ */

.formContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 473px;
  box-sizing: border-box;
}

.loginForm {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.logo {
  width: 60px;
}

.loginForm h1 {
  margin-bottom: 72px;
  color: #142d56;
  font-size: 24px;
  font-weight: 600;
}

.inputGroup {
  margin-bottom: 10px;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputGroup input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.loginButton {
  width: 100%;
  padding: 12px;
  margin-top: 30px;
  background-color: #0e1a2c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:disabled {
  background-color: #d5d5d5;
  cursor: not-allowed;
}

.text {
  color: #9ca3af;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.5;
  padding: 2px 4px;
  border-radius: 6px;
  outline: none;
}
.textContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.textContainer .text {
  cursor: pointer;
}

.divider {
  color: #9ca3af;
  font-size: 14px;
  margin: 0 4px;
}

/* ------------------------ 회원가입 페이지 ------------------------ */
.emailContainer {
  display: flex;
  align-items: center;
}

.emailInput {
  flex-grow: 1;
  margin-right: 10px;
}

.verifyButton {
  padding: 12px 15px;
  width: 60px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.verifyButton:disabled {
  background-color: #d5d5d5;
  cursor: not-allowed;
}
