.homeSidebarMenu {
  position: fixed;
  top: 90px;
  left: 0;
  width: 264px;
  height: calc(100vh - 90px);
  padding: 0 32px;
  background-color: #02040d;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
  overflow: hidden;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
  pointer-events: none;
}

.menu-title {
  color: #656565;
  font-size: 12px;
  font-style: semibold;
  font-weight: 600;
  margin-bottom: 15px;
}

.menu-section {
  margin-bottom: 30px;
}

.menu-section > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-section li {
  display: flex;
  align-items: center;
}

.menu-section a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}

.active-link {
  background-color: #d9d9d90d;
  border-radius: 4px;
  width: 100%;
  padding: 10px 8px;
}

.inactive-link {
  background-color: transparent;
  width: 100%;
  padding: 10px 8px;
}

.left {
  display: flex;
  gap: 30px;
  position: fixed;
  align-items: center;
  z-index: 999;
  top: 32px;
  left: 32px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 18.53px;
  line-height: 120%;
  letter-spacing: -3%;
  color: white;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menuButton span {
  display: block;
  height: 2px;
  background: white;
  border-radius: 2px;
}

.logo {
  width: 19px;
  height: 19px;
}

.boardSelect {
  width: 100%;
  background: transparent;
  color: #ffffff;
  border: none;
  padding: 3px;
  border-radius: 6px;
  margin-top: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.boardSelect option {
  color: black;
}
