.sidebar {
  height: 100vh;
  padding: 0 20px 0 20px;
  margin-left: 50px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 55px;
  margin-bottom: 20px;
}

.sidebar-header-logo {
  border-radius: 50%;
  background-color: #2b2b2b;
  width: 40px;
  height: 40px;
}

.sidebar-header-text {
  display: flex;
  flex-direction: column;
}

.sidebar-header-text-ko {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  margin: 0;
}

.sidebar-header-text-en {
  font-size: 16px;
  font-weight: 500;
  font-style: Medium;
  color: #656565;
  margin: 0;
}

.menu-title {
  color: #656565;
  font-size: 12px;
  font-style: semibold;
  font-weight: 600;
  margin-bottom: 30px;
}

.menu-section {
  margin-bottom: 50px;
}

.menu-section > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-section li {
  margin-bottom: 25px;
}

.menu-section a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}
