.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 56px;
  border-radius: 16px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h1 {
  margin-top: 0;
  margin-bottom: 52px;

  text-align: left;
  font-size: 20px;
}
h1.findEmailH1 {
  margin-bottom: 33px;
}
.modal p {
  margin: 0px;
}
.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  margin-bottom: 21px;
}
.inputGroup label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  color: #555;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.verificationContainer {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 16px;
}

.codeInput {
  flex: 1;
  height: 48px;
  padding: 0 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 0.4px solid #afafaf;
  background: #fff;
  box-sizing: border-box;
}
.newPassword {
  display: flex;
  width: 50%;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

.button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  width: 132px;
  height: 48px;

  color: white;
  border: none;

  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
}

.sendButton {
  background: #1d80f4;
}
.sendButton:disabled {
  background: #bce5ff;
}

.submitButton {
  background: #1d80f4;
}
.submitButton:disabled {
  background: #bce5ff;
}

.closeButton {
  background-color: #dc3545;
}

.resetPasswordButton {
  background: #1d80f4;
  width: 30%;
}
.resetPasswordButton:disabled {
  background: #bce5ff;
}
