.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modalContent {
  background: #fff;
  border-radius: 12px;
  width: 905px;
  height: 585px;
  padding: 52px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modalTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #171717;
}

.modalDivider {
  border: none;
  border-top: 0.6px solid #6a6a6a;
  margin: 16px 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.closeButton {
  display: inline-block;
  border: none;
  background-color: #fff;
  color: #171717;
  font-weight: 400;
  font-size: 26px;
  cursor: pointer;
}

/* 공통 리스트 */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.row:last-child {
  border-bottom: none;
}

.left {
  min-width: 0;
}

.right {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  gap: 8px;
  border-radius: 17.5px;
  background-color: #f6f6f6;
}

.title {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
  color: #171717;
  line-height: 1.4;
}

.time {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

/* 포인트 뱃지 */
.pointIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.pointPlus {
  font-weight: 700;
  color: #1a7f37;
}

.pointMinus {
  font-weight: 700;
  color: #c62828;
}
/* Pagination 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.pageButton {
  min-width: 32px;
  height: 32px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.activePage {
  background-color: #e0e0e0; /* 현재 페이지 연한 그레이 */
  font-weight: 700;
}

.pagination button:hover:not(:disabled) {
  background-color: #f1f1f1;
  border-color: #999;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .pageInfo {
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  min-width: 50px;
  text-align: center;
}

/* 모바일 대응 */
@media (max-width: 600px) {
  .pagination {
    gap: 8px;
  }

  .pagination button {
    min-width: 32px;
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
  }

  .pagination .pageInfo {
    font-size: 12px;
    min-width: 40px;
  }
}
