.tradeCard {
  display: flex;
  gap: 70px;
  width: 927px;
  height: 142px;
  border-radius: 21px;
  background-color: #f9f9f9;
  padding: 20px 50px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: #828282;
}

.value {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #616161;
}

.buy {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #ff3f1e;
}

.sell {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #2397ff;
}
