.container {
  display: flex;
  gap: 40px;
}

.profitCard {
  width: 294px;
  height: 164px;
  display: flex;
  flex-direction: column;
  background-color: #194a8f;
  border-radius: 12px;
  padding: 24px;
  justify-content: space-between;
}

.tradingPeriodCard {
  width: 294px;
  height: 164px;
  display: flex;
  flex-direction: column;
  background-color: #1854b6;
  border-radius: 12px;
  padding: 24px;
  justify-content: space-between;
}

.totalCard {
  width: 294px;
  height: 164px;
  display: flex;
  flex-direction: column;
  background-color: #1469e1;
  border-radius: 12px;
  padding: 24px;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #608bd0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profitValue {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.periodValue {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.totalValue {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #e4e7ea;
}
