.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectBox {
  width: 402px;
  height: 47px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #616161;
}
