.attendanceManagementCardContainer {
  border-radius: 12px;
  min-width: 300px;
  max-width: 335px;
  background: #fafbfc;
  padding: 32px 20px;
}

.tableGroup {
  border-radius: 12px;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}
.table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0px 10px;
  table-layout: fixed;
}
.attendanceSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 0.8px solid #afafaf;
}
.table thead th,
.table tbody td {
  text-align: left;
  color: var(--text);
  padding: 8px 7px;
  border-bottom: 1px solid var(--line);
  white-space: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.row {
  margin-bottom: 10px;
}

.noData {
  text-align: center;
  padding: 20px;
  color: #888;
}