.sessionManagementCardContainer {
  border-radius: 12px;
  padding: 26px 40px;
  background: #fafbfc;

  border: 1px solid #c9bebe;
  width: 100%;
}

.selectGroup {
  display: flex;
  gap: 5px;
}

.sessionSelect {
  display: flex;
  width: 30%;
  padding: 9px 14px;
  font-size: 18px;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;

  border-radius: 8px;
  border: 0.8px solid #afafaf;
}

.tableGroup {
  border-radius: 12px;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}
.table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0px 10px;
  table-layout: fixed;
}

.table thead th {
  text-align: left;
  border-bottom: 1px solid var(--line);
  color: var(--text);
  padding: 8px 7px;
  white-space: nowrap;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  position: sticky;
  top: 0;
  background-color: #fafbfc;
}
.row {
  margin-bottom: 10px;
}
.table tbody td {
  border-bottom: 1px solid var(--line);
  padding: 8px 7px;
  font-size: 18px;
  text-align: left;
}

.table tbody td:nth-child(2) {
  padding-left: 10px;
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  width: 25%;
}
.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  width: 25%;
}
.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
  width: 25%;
}
.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
  width: 20%;
}
.table thead th:nth-child(5),
.table tbody td:nth-child(5) {
  width: 10%;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

.selectedRound {
  background-color: #e0f7fa; /* 선택 회차 하늘색으로 */
  cursor: pointer;
}
