* {
  box-sizing: border-box;
}
:root {
  --ctrl-w: 90px;
  --ctrl-h: 44px;
  --ctrl-radius: 12px;
}

.SessionSettingCardContainer {
  border-radius: 12px;
  background: #fafbfc;
  width: 100%;
  border: 1px solid #c9bebe;

  flex-shrink: 0;
  padding: 26px 40px;
}

.form {
  display: flex;
  gap: 20px;
}

.timeInputGroup {
  display: flex;
  width: auto;
  justify-content: space-between;
  gap: 10px;
}
.timeInputGroup > input {
  width: var(--ctrl-w);
}

.availableTimeInputGroup {
  display: grid;
  width: auto;
  grid-template-columns: var(--ctrl-w) auto;
  column-gap: 36px;
  align-items: center;
  justify-content: space-between;
}
.availableTimeInputGroup > input {
  width: var(--ctrl-w);
}
.availableTimeInputGroup button {
  display: flex;
  width: 90px;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(
    100deg,
    #b3ebff -15.44%,
    #91c3ff 39.86%,
    #d3edff 94.81%
  );
  border: none;
}
