.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: url('../../assets/external-detail-image.png') center no-repeat;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}

.divider {
  width: 250px;
}
