.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header {
  background: url('../../assets/external/external-detail-image.png') no-repeat
    center;
  background-size: cover;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}

.divider {
  width: 250px;
}

.info {
  display: flex;
  padding: 80px 100px;
  gap: 45px;
}

.logoSection {
  display: flex;
  gap: 10px;
  width: 340px;
  height: 58px;
}

.logo {
  width: 56px;
  height: 56px;
}

.name {
  word-break: keep-all;
  color: #142d56;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  max-width: 700px;
}
