.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 100px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 10px;
  cursor: pointer;
}

.logo {
  width: 32px;
  height: 32px;
}

.title {
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #ffffff;
}
