.wrap {
  display: flex;
  align-items: flex-start;
  padding: 28px 18px;
  width: 220px;
}

.line {
  width: 1px;
  height: 254px;
  background: #cbcbcb;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 12px;
  font-weight: 600;
  color: #656565;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 220px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;

  -webkit-overflow-scrolling: touch;
}

.listItem {
  margin: 0;
  padding: 0;
}

.item {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  line-height: 146%;
  color: #656565;
}

.active {
  font-weight: 700;
  color: #142d56;
}

.list::-webkit-scrollbar {
  width: 0px;
}
