.box {
  border: 1px solid #c9bebe;
  background: #fafbfc;
  width: 100%;
  max-width: 600px;
  min-height: 160px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0%;
  color: #171717;
}

.session {
  width: 100%;
  max-width: 280px;
  height: 40px;
  padding: 10px 20px;
  border: 0.8px solid #afafaf;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #171717;
  box-sizing: border-box;
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .box {
    padding: 30px;
    gap: 30px;
  }

  .title {
    font-size: 20px;
  }
}
