.box {
  border: 1px solid #c9bebe;
  background: #fafbfc;
  width: 600px;
  height: 160px;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  letter-spacing: 0%;
  color: #171717;
}

.session {
  width: 280px;
  height: 40px;
  padding: 10px 20px;
  border: 0.8px solid #afafaf;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #171717;
  box-sizing: border-box;
}
