.daily-betting-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 12px;
  width: 880px;
  height: 200px;
  /* max-width: 880px;
  min-width: 440px; */
  padding: 30px;
  margin-bottom: 30px;
}

.correct-card {
  border: 1px solid #4baaff;
}

.incorrect-card {
  border: 1px solid #ff6348;
}

.result-icon {
  position: absolute;
  top: -15px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  width: 27px;
  height: 27px;
}

.correct {
  background-color: #4baaff;
}

.incorrect {
  background-color: #ff6348;
}

.date {
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  color: #616161;
}

.stock-info {
  display: flex;
  gap: 4%;
}

.stock-change {
  display: flex;
  align-items: end;
  gap: 15px;
}

.change-value {
  color: #339fff;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
}

.bet-result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  color: #616161;
  width: 40%;
}

.divider {
  width: 0.6px;
  height: 16px;
  background-color: #6a6a6a;
}

.bet-point {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #eeeeee;
  border-radius: 17.5px;

  width: 95px;
  height: 35px;
}

.icon {
  width: 20px;
  height: 20px;
}

.up-button {
  border-radius: 8px;
  border: none;
  background-color: #e6f4fd;
  color: #2397ff;
  cursor: pointer;
  font-weight: 410;
  font-style: medium;
  font-size: 16px;
  width: 78px;
  height: 40px;
  margin-left: 5%;
}

.down-button {
  border-radius: 8px;
  border: none;
  background-color: #feece8;
  color: #ff3f1e;
  cursor: pointer;
  font-weight: 410;
  font-style: medium;
  font-size: 16px;
  width: 78px;
  height: 40px;
  margin-left: 5%;
}

.paginationContainer {
  display: flex;
  /* margin-left: 230px; */
  justify-content: center;
}
