.daily-betting-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 12px;
  width: 880px;
  height: 170px;
  /* max-width: 880px;
  min-width: 440px; */
  padding: 30px;
  position: relative;
}

.date {
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  color: #616161;
}

.stock-info {
  display: flex;
  gap: 6%;
}

.bet-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  color: #616161;
  padding-left: 10%;
  width: 50%;
}

.upper-bet,
.lower-bet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divider {
  width: 0.6px;
  height: 16px;
  background-color: #6a6a6a;
}

.bet-point {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #eeeeee;
  border-radius: 17.5px;

  width: 95px;
  height: 35px;
}

.icon {
  width: 20px;
  height: 20px;
}

.up-button {
  border-radius: 8px;
  border: none;
  background-color: #e6f4fd;
  color: #2397ff;
  cursor: pointer;
  font-weight: 410;
  font-style: medium;
  font-size: 16px;
  width: 78px;
  height: 40px;
  margin-left: 5%;
  position: relative;
}

.upActive {
  border: 1px solid #4baaff;
}

.upBetCheck {
  background-color: #4baaff;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  top: -7.5px;
  left: 2px;
  line-height: 100%;
}

.down-button {
  border-radius: 8px;
  border: none;
  background-color: #feece8;
  color: #ff3f1e;
  cursor: pointer;
  font-weight: 410;
  font-style: medium;
  font-size: 16px;
  width: 78px;
  height: 40px;
  margin-left: 5%;
  position: relative;
}

.downActive {
  border: 1px solid #ff6348;
}

.downBetCheck {
  background-color: #ff6348;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  top: -7.5px;
  left: 2px;
  line-height: 100%;
}

.cancel {
  cursor: pointer;
  color: #616161;
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  position: absolute;
  bottom: 15px;
  right: 30px;
}
