.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #171717;
}

.attendanceSection {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .title {
    font-size: 32px;
  }

  .attendanceSection {
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* 데스크톱 */
@media (min-width: 1024px) {
  .container {
    padding: 80px;
  }

  .title {
    font-size: 36px;
  }

  .attendanceSection {
    justify-content: center;
  }
}
