.container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #171717;
}

.attendanceSection {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
