.page {
  padding: 70px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 50px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #171717;
}

.historySection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #616161;
}
