.content {
  width: 100%;
  max-width: var(--width-content);
  margin-bottom: 40px;
  color: var(--color-text-dark);
  line-height: 1.8;
  word-break: break-word;
  overflow-wrap: break-word;
}

.content :global(p) {
  margin: 0 0 12px;
}

.content :global(img) {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
